.card-image card-draggable {
  width: auto;
  height: 235.5vh;
  position: absolute;
  cursor: grab;
  user-select: none;
  left: 10%;
  top: 80%;
  will-change: transform;
  touch-action: none;
  transform: scale(0.235);
}

.card-draggable {
  left: 50%;
  top: 50%;
}

.card-image:active {
  cursor: grabbing;
} 