.container {
  width: 100vw;
  height: 100vh;
  background-color: #585757;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

.buttons-container {
  position: fixed;
  bottom: 50%;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
}

.draw-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.draw-button:hover {
  background-color: #45a049;
}

.action-button {
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button.attack {
  background-color: #ff4444;
}

.action-button.attack:hover {
  background-color: #cc0000;
}

.action-button.defend {
  background-color: #4CAF50;
}

.action-button.defend:hover {
  background-color: #45a049;
}