.container {
  width: 100vw;
  height: 100vh;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangle {
  width: 158.3vh;
  height: 235.5vh;
  background-color: gray;
  transform: scale(0.108); /* уменьшаем размер, чтобы прямоугольник поместился на экране */
} 